@import '../styles.scss';
#app-container{
    background: #eb445a;
    opacity: .8;
    min-width: 220px;
    @include def_theme();
}
.app-menu{
    position: fixed;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    z-index: 100;
    right: .8rem;
    top: .6rem;
}

.app-menu:hover{
    background-color: green;
    border-radius: .8rem;
}

.menu-list{
    position: fixed;
    // width: 6rem;
    right: .8rem;
    top: 2.6rem;
    z-index: 100;
    text-align: right;
    background-color: gray;
    opacity: .6;
    letter-spacing: .2rem;
    padding: .2rem;
    border-radius: .4rem;
}

.menu-list-item{
    font-size: .8rem;
    height: 1rem;
    vertical-align: middle;
}
.menu-list-item:hover{
    font-size: 1rem;
    height: 1.1rem;
    vertical-align: middle;
    color: white;
}

.top-message{
    // position: absolute;
    z-index: 999;
    bottom: 1rem;
    left:0;
    right: 0;
}