@import url('../../../assets/css/sun.scss');
.weather-container{
    background-color: transparent;
    text-align: center;
    color: white;
}
.weather-icon{
    font-size: 6rem;
    position: absolute;
}

.temperature{
    color: white;
    font-size: 2.2rem;
    margin-top: 1.5rem;
    text-align: right;
}

.temper-text{
    font-size: 1.5rem;
}

.other-info{
    margin-top: -4rem;
}

.forecast{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.fore-item{

}

.item-icon{
    margin-top: .8rem;
    font-size: 1.8rem;
}
.item-temp{
    margin-top: .8rem;
}