/* You can add global styles to this file, and also import other style files */
@import './assets/css/theme.scss';

.card-container{
    margin: .2rem;
    padding: .5rem .8rem;
    border-radius: .4rem;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

//定义了一个内容类。只要是 这个类下面的元素都会按照主题色变化
.content{
    text-align: center;
    @include def-theme();
    width: 100%;
    height: 100%;
}